<!--Ben Fisher
	CS496 
	assign 5 How use an API
	Handle bars file 3 pairs of curly braces
	renders html 2 pairs of curly braces
	will not render html	-->

<!doctype html>

<!-- following http://blog.js.cytoscape.org/2016/06/08/glycolysis/ cytoscape ex -->
<!-- following https://codepen.io/yeoupooh/pen/RrBdeZ for setting up Cytoscape container in Bootstrap -->
<!-- following https://www.youtube.com/watch?v=gqOEoUR5RHg for Bootstrap tutorial -->
<html lang="en">
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- use latest rendering engine for internet explorer -->
		
		<title>CS496-How To Assignment</title>     	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" /><!-- for refresh spinner -->			
				
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	
							
		<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	</head>	 
	<body>
		{{{body}}}
	</body>
</html>
