<!--Ben Fisher
	CS496 
	assign 5 How use an API
	Handle bars file 3 pairs of curly braces
	renders html 2 pairs of curly braces
	will not render html	-->

<!doctype html>

<!-- following http://blog.js.cytoscape.org/2016/06/08/glycolysis/ cytoscape ex -->
<!-- following https://codepen.io/yeoupooh/pen/RrBdeZ for setting up Cytoscape container in Bootstrap -->
<!-- following https://www.youtube.com/watch?v=gqOEoUR5RHg for Bootstrap tutorial -->
<html lang="en">
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- use latest rendering engine for internet explorer -->
		
		<title>CS496-How To Assignment</title>     	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" /><!-- for refresh spinner -->			
				
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	
							
		<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
		<script src='base.js'></script>
	</head>	 
	<body>
	<!-- Left navigation drawer taken from http://www.bootply.com/88026 
			from http://stackoverflow.com/questions/19397140/collapsing-sidebar-with-bootstrap-3 -->
		<div class="page-container">
			<!-- top navbar -->
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Project Name</a>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row row-offcanvas row-offcanvas-left">
					<!-- sidebar -->
					<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
						<ul class="nav">
						<li class="active"><a href="#">Getting started</a></li>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">About</a></li>              
						</ul>
					</div>
					<!-- main area -->
					<div class="col-xs-12 col-sm-9">
						{{{body}}}
					</div><!-- End col-xs-12 main -->
				</div><!-- End row-->
			</div><!-- End container-->
		</div> <!-- End page-container-->
		
	</body>
</html>
