<!--     Ben Fisher
	CS496 
	assign 1
	Handle bars file 3 pairs of curly braces
	renders html 2 pairs of curly braces
	will not render html	-->

<!doctype html>
<html>
<head>
	 <title> Web Crawler Has Gone Off The Tracks</title>                
</head>
<body>
	{{{body}}}
</body>
</html>
