<div class="container">
	<h2 class="myHeaderText">About</h2>
	<div class="container myBodyText">	
		<div class="text-center">
			<p>Application created by:</p>
			<h3 class="myHeaderText">Ben Fisher - fisheben@oregonstate.edu</h3>
		</div>
		<div class="myBodyText">
			<p>This application represents my effort toward completing my How To project at <a href="http://ecampus.oregonstate.edu/online-degrees/undergraduate/computer-science/">Oregon State University.</a> for <a href='http://eecs.oregonstate.edu/ecampus-video/CS496/syllabus/index.html'>CS496</a></p>
			<p>The front end for this website was developed using <a href="http://getbootstrap.com/">Bootstrap</a>, and the backend is written in javascript Node.js and is running <a href="https://cloud.google.com/nodejs/">Node.js on the Google Cloud Platform.</a></p>
			<p>The code used to implement the side navigation drawer was modified from <a href="https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/index.html">BlackrockDigital/startbootstrap-simple-sidebar github repository</a>.</p>
			<p>The application code is shared publicly on <a href="https://github.com/fisherben/cs496-How-to-assignment">Github.</a></p>							
		</div>
	</div>
</div>
