<div class="container">
	<h2>Overview</h2>
	<div class="container">	
	<h3>About Google Play Games Services</h3>
		<p><a href='https://developers.google.com/games/services/'>Google Play Games Services</a> provides developers with a rich array of Api that makes developing a game much easier. The Api aids in deployment, scalability, and managment of game developement.  Google provides rich documentation aimed to help developers use their Api, here is the <a href='https://developers.google.com/games/services/checklist'>Quality Checklist</a>, which will walk the developer through best practices for using Google Play Services.  Also important is to review and understand <a href='https://developers.google.com/games/services/quota'>Quotas</a> involved with using any of the Api's Google provides.  
		</p>
	</div>
	<div class="container">
		<h3>About Google Play Services Turn Based Multiplayer Support Api</h3>
		<p>There are many Api's available for the developer to choose from to learn how to integrate into their game.  I've decided to attempt to learn how to integrate <a href='https://developers.google.com/games/services/common/concepts/turnbasedMultiplayer'>Turn Based Multiplayer Support Api</a> into my Android game.</p>
		<p>The Turn-based Multiplayer Api allows players to pass state around to each other during game play.  Only the player in control of the game state can modify the game.  The seqeunce of game play using the Api is, a player starts a game, takes their turn and invites an opponents.  When the player starts the game, they initialize the game state and then make a first move.  When the opponent accepts the game, they then recieve a game state and are ready to start playing right away.  Which is a nice feature, meaning there are no waiting lobbies, game setup dynamics etc.  Game state is passed back and forth between the players until the game ends.</p>	
	</div>   
</div>
