<div class='well well-lg'>
	<h2>Wrap Up</h2>	
	<div>
		<p>This application represents my effort toward completing my How To project at <a href="http://ecampus.oregonstate.edu/online-degrees/undergraduate/computer-science/">Oregon State University.</a> for <a href='http://eecs.oregonstate.edu/ecampus-video/CS496/syllabus/index.html'>CS496</a></p>
		<p>The front end for this website was developed using <a href="http://getbootstrap.com/">Bootstrap</a>, and the backend is written in javascript Node.js and is running <a href="https://cloud.google.com/nodejs/">Node.js on the Google Cloud Platform.</a></p>
		<p>The code used to implement the side navigation drawer was modified from <a href="https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/index.html">BlackrockDigital/startbootstrap-simple-sidebar github repository</a>.</p>
		<p>The code used to implement the frontend is hosted on <a href="https://github.com/fisherben/cs496-How-to-assignment">Github.</a></p>							
	</div>
</div>