<div class="container">
	<h2 class="myHeaderText">Wrap Up</h2>
	<div class="container myBodyText">	
	<h3 class="myHeaderText">About Google Play Services</h3>
		<p>In summation this is what we learned how to do. 
		</p>
	</div>	
</div>