<div class="container">
	<h2 class="myHeaderText">Wrap Up</h2>
	<div class="container myBodyText">	
	<h3 class="myHeaderText">What just happened?</h3>
		<p>In summation this is what we learned how to do. First we learned how to set up and run the SkeletonTbmp game provided by <a href="https://github.com/playgameservices/android-basic-samples">BasicSamples/libraries</a> for Google Play Games Services.  Note that the process we followed can be used to set up any of the sample modules provided in the file.  However some of the games may required slightly different settings, see the <a href="https://github.com/playgameservices/android-basic-samples/blob/master/README.md">BasicSamples/libraries ReadMe.md</a> file for more information.
		</p>
		<p>Second we walked through the code in the SkeletonTbmp module.  We covered the <a href="https://github.com/playgameservices/android-basic-samples/blob/master/BasicSamples/SkeletonTbmp/src/main/res/layout/activity_main.xml">layouts</a> and then we covered the <a href="https://github.com/playgameservices/android-basic-samples/blob/master/BasicSamples/SkeletonTbmp/src/main/java/com/google/example/tbmpskeleton/SkeletonActivity.java">SkeletonActivity.java</a> class.  We walked through the process of accessing Google Play services, and adding the Games scope.  We then used the Games scope to access the <a href="https://developers.google.com/android/reference/com/google/android/gms/games/Games">Games</a> object and manipulate the turn based multiplayer methods, to set up a game, take a turn, and finish a game.  Read more about the <a href="https://developers.google.com/games/?hl=en_US">Google Games</a> here.</p>
		<p>Read more about <a href="https://developers.google.com/games/?hl=en_US">Google Games</a> here.</p>
		<p>Good luck in writing your next game!</p>
	</div>	
</div>